In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Hospitalización.xlsx')

C:\Users\Andy\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
df.head()

,EDAD,DIABETES,HOSPITALIZACIÓN ULTIMO MES,PSA,BIOPSIAS PREVIAS,VOLUMEN PROSTATICO,ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS,NUMERO DE MUESTRAS TOMADAS,CUP,ENF. CRONICA PULMONAR OBSTRUCTIVA,BIOPSIA,NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA,FIEBRE,ITU,TIPO DE CULTIVO,AGENTE AISLADO,PATRON DE RESISTENCIA,HOSPITALIZACION,DIAS HOSPITALIZACION MQ,DIAS HOSPITALIZACIÓN UPC
0,53.0,NO,NO,4.0,NO,SI,FLUOROQUINOLONA_AMINOGLICOSIDO,12.0,NO,NO,NEG,1,SI,NO,NO,NO,NO,SI,2.0,0.0
1,56.0,NO,NO,7.7,NO,SI,FLUOROQUINOLONA_AMINOGLICOSIDO,12.0,NO,NO,NEG,1,SI,NO,NO,NO,NO,SI,5.0,0.0
2,57.0,NO,NO,29.0,SI,SI,FLUOROQUINOLONA_AMINOGLICOSIDO,24.0,NO,NO,NEG,1,SI,NO,HEMOCULTIVO,E.COLI,"AMPI R, CIPRO R, GENTA R, SULFA M R",SI,4.0,3.0
3,56.0,NO,NO,7.0,NO,SI,FLUOROQUINOLONA_AMINOGLICOSIDO,12.0,NO,NO,NEG,1,SI,NO,NO,NO,NO,SI,5.0,0.0
4,55.0,NO,NO,29.0,SI,SI,FLUOROQUINOLONA_AMINOGLICOSIDO,24.0,NO,NO,NEG,1,SI,NO,HEMOCULTIVO,E.COLI,NO,SI,4.0,3.0

In [4]:
df.shape

(570, 20)

In [5]:
df.describe() #Columnas numéricas

,EDAD,PSA,NUMERO DE MUESTRAS TOMADAS,DIAS HOSPITALIZACION MQ,DIAS HOSPITALIZACIÓN UPC
count,568.000000,564.000000,568.000000,568.000000,568.000000
mean,63.882042,13.271401,12.996479,0.165493,0.014085
std,9.281517,15.668966,3.921180,0.958066,0.196474
min,39.000000,0.600000,4.000000,0.000000,0.000000
25%,59.000000,5.600000,12.000000,0.000000,0.000000
50%,64.000000,8.000000,12.000000,0.000000,0.000000
75%,69.000000,15.000000,12.000000,0.000000,0.000000
max,151.000000,100.000000,24.000000,12.000000,3.000000

Columna Edad

In [6]:
df['EDAD'].value_counts() #Vemos los valores atípicos ya que en el describe habia una edad de 151 años

EDAD
69.0     39
63.0     32
68.0     31
64.0     31
67.0     29
62.0     29
66.0     29
71.0     27
59.0     27
61.0     26
58.0     25
65.0     21
60.0     21
57.0     19
55.0     14
73.0     14
70.0     13
56.0     13
53.0     13
54.0     12
75.0     12
74.0     11
52.0      9
81.0      7
51.0      6
42.0      6
78.0      6
77.0      5
50.0      5
79.0      4
72.0      4
47.0      4
49.0      3
76.0      3
84.0      3
48.0      2
46.0      2
39.0      2
45.0      2
82.0      2
143.0     1
151.0     1
43.0      1
44.0      1
80.0      1
Name: count, dtype: int64

In [7]:
def convertir_nulos (valor): #Función para convertir los valores atípicos a nulos
    if valor == 151 or valor == 143:
        return valor - 100
    else:
        return valor

In [8]:
df['EDAD']  = df['EDAD'].apply(convertir_nulos) #Aplico funcion

Columna Diabetes

In [10]:
df['DIABETES'].value_counts() #Verificamos que este todo en órden con los valores

DIABETES
NO    505
SI     63
Name: count, dtype: int64

In [11]:
df['DIABETES'] = df['DIABETES'].replace('', np.nan)  #Reemplazamos valores donde no hay nada por nulos

In [12]:
df['DIABETES'] = df['DIABETES'].replace('NO', '0') #Reemplazamos No por cero

In [13]:
df['DIABETES'] = df['DIABETES'].replace('SI', '1') #Reemplazamos Si por uno

In [14]:
df['DIABETES'] = df['DIABETES'].astype(float) #Cambiamos su valor de str a flotante

Columna Hospitalización ultimo mes

In [15]:
df['HOSPITALIZACIÓN ULTIMO MES'].value_counts() #Verificamos que este todo en órden con los valores

HOSPITALIZACIÓN ULTIMO MES
NO    563
SI      5
Name: count, dtype: int64

In [16]:
df['HOSPITALIZACIÓN ULTIMO MES'] = df['HOSPITALIZACIÓN ULTIMO MES'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [17]:
df['HOSPITALIZACIÓN ULTIMO MES'] = df['HOSPITALIZACIÓN ULTIMO MES'].replace('NO', '0') #Reemplazamos No por cero

In [18]:
df['HOSPITALIZACIÓN ULTIMO MES'] = df['HOSPITALIZACIÓN ULTIMO MES'].replace('SI', '1') #Reemplazamos Si por uno

In [19]:
df['HOSPITALIZACIÓN ULTIMO MES'] = df['HOSPITALIZACIÓN ULTIMO MES'].astype(float) #Cambiamos su valor de str a flotante

Columna Biopsias Previas

In [20]:
df['BIOPSIAS PREVIAS'].value_counts() #Verificamos que este todo en órden con los valores

BIOPSIAS PREVIAS
NO    510
SI     56
Name: count, dtype: int64

In [21]:
df['BIOPSIAS PREVIAS'] = df['BIOPSIAS PREVIAS'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [22]:
df['BIOPSIAS PREVIAS'] = df['BIOPSIAS PREVIAS'].replace('NO', '0') #Reemplazamos No por cero

In [23]:
df['BIOPSIAS PREVIAS'] = df['BIOPSIAS PREVIAS'].replace('SI', '1') #Reemplazamos Si por uno

In [24]:
df['BIOPSIAS PREVIAS'] = df['BIOPSIAS PREVIAS'].astype(float) #Cambiamos su valor de str a flotante

Columna Volumen Prostático

In [25]:
df['VOLUMEN PROSTATICO'].value_counts() #Verificamos que este todo en órden con los valores

VOLUMEN PROSTATICO
SI    408
NO    159
Name: count, dtype: int64

In [26]:
df['VOLUMEN PROSTATICO'] = df['VOLUMEN PROSTATICO'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [27]:
df['VOLUMEN PROSTATICO'] = df['VOLUMEN PROSTATICO'].replace('NO', '0') #Reemplazamos No por cero

In [28]:
df['VOLUMEN PROSTATICO'] = df['VOLUMEN PROSTATICO'].replace('SI', '1') #Reemplazamos Si por uno

In [29]:
df['VOLUMEN PROSTATICO'] = df['VOLUMEN PROSTATICO'].astype(float) #Cambiamos su valor de str a flotante

Columna Antibiotico Utilizado en la Profilaxis

In [30]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].value_counts() #Verificamos que este todo en órden con los valores

ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS
FLUOROQUINOLONA_AMINOGLICOSIDO    448
CEFALOSPORINA_AMINOGLUCOCIDO       56
OTROS                              42
OROQUINOLONAS                      18
FLUOROQUINOLONA_AMINOGLICÓSIDO      4
Name: count, dtype: int64

In [31]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [32]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('FLUOROQUINOLONA_AMINOGLICOSIDO', '0') #Reemplazo FLUOROQUINOLONA_AMINOGLICOSIDO por cero

In [33]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('CEFALOSPORINA_AMINOGLUCOCIDO', '1') #Reemplazo CEFALOSPORINA_AMINOGLUCOCIDO por uno

In [34]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('OTROS', '2')#Reemplazo OTROS por dos

In [35]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('OROQUINOLONAS', '3')#Reemplazo OROQUINOLONAS por tres

In [36]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].replace('FLUOROQUINOLONA_AMINOGLICÓSIDO', '0') #Reemplazo FLUOROQUINOLONA_AMINOGLICÓSIDO por cero ya que es el mismo solo que con una tilde

In [37]:
df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'] = df['ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS'].astype(float) #Transformo los valores de str a float

Columna Numero de muestras tomadas

In [38]:
type(df['NUMERO DE MUESTRAS TOMADAS'][0])

numpy.float64

In [39]:
df['NUMERO DE MUESTRAS TOMADAS'].value_counts()

NUMERO DE MUESTRAS TOMADAS
12.0    432
24.0     42
18.0     36
6.0      26
10.0     10
4.0       6
16.0      4
20.0      4
8.0       2
15.0      2
22.0      2
14.0      2
Name: count, dtype: int64

Columna CUP

In [40]:
df['CUP'].value_counts() #Verificamos que este todo en órden con los valores

CUP
NO    563
SI      4
Name: count, dtype: int64

In [41]:
df['CUP'] = df['CUP'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [42]:
df['CUP'] = df['CUP'].replace('NO', '0') #Reemplazamos No por cero

In [43]:
df['CUP'] = df['CUP'].replace('SI', '1') #Reemplazamos Si por uno

In [44]:
df['CUP'] = df['CUP'].astype(float) #Cambiamos su valor de str a flotante

Columna Enfermedad Cronica Pulmonar Obstructiva

In [45]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].value_counts() #Verificamos que este todo en órden con los valores

ENF. CRONICA PULMONAR OBSTRUCTIVA
NO          546
SI           12
SI, EPOC      4
SI, ASMA      4
Name: count, dtype: int64

In [46]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [47]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].replace('NO', '0') #Reemplazamos No por cero

In [48]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].replace('SI', '1') #Reemplazamos Si por uno

In [49]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].replace('SI, EPOC', '2') #Reemplazamos EPOC por dos

In [50]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].replace('SI, ASMA', '3') #Reemplazamos ASMA por tres

In [51]:
df['ENF. CRONICA PULMONAR OBSTRUCTIVA'] = df['ENF. CRONICA PULMONAR OBSTRUCTIVA'].astype(float) #Cambiamos su valor de str a flotante

Columna Biopsia

In [52]:
df['BIOPSIA'].value_counts() #Verificamos que este todo en órden con los valores

BIOPSIA
NEG                                           322
ADENOCARCINOMA GLEASON 7                      106
ADENOCARCINOMA GLEASON 6                       38
ADENOCARCINOMA GLEASON 8                       22
ADENOCARCINOMA GLEASON 9                       20
ADENOCARCINOMA GLEASON 6                       16
PROSTATITIS                                    14
HIPERPLASIA PROSTATICA                         14
ADENOCARCINOMA GLEASON 7                       10
ADENOCARCINOMA GLEASON 10                       4
CARCINOMA INDIFERENCIADO DE CELULAS CLARAS      2
Name: count, dtype: int64

In [53]:
df['BIOPSIA'] = df['BIOPSIA'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [54]:
df['BIOPSIA'] = df['BIOPSIA'].replace('NEG', '0') #Reemplazamos NEG por cero

In [55]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 7', '2') #Reemplazamos ADENOCARCINOMA GLEASON 7 por dos

In [56]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 6', '1')#Reemplazamos ADENOCARCINOMA GLEASON 6 por uno

In [57]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 8 ', '3')#Reemplazamos ADENOCARCINOMA GLEASON 8 por tres

In [58]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 9 ', '4')#Reemplazamos ADENOCARCINOMA GLEASON 9 por cuatro

In [59]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 6 ', '1') #Era lo mismo que el 6 pero con un espacio al final

In [60]:
df['BIOPSIA'] = df['BIOPSIA'].replace('PROSTATITIS', '6')#Reemplazamos PROSTATITIS por seis

In [61]:
df['BIOPSIA'] = df['BIOPSIA'].replace('HIPERPLASIA PROSTATICA', '7')#Reemplazamos HIPERPLASIA PROSTATICA por siete

In [62]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 7 ', '2')#Era lo mismo que el 7 pero con un espacio al final

In [63]:
df['BIOPSIA'] = df['BIOPSIA'].replace('ADENOCARCINOMA GLEASON 10 ', '5')#Reemplazamos ADENOCARCINOMA GLEASON 10 por 0¿cinco

In [64]:
df['BIOPSIA'] = df['BIOPSIA'].replace('CARCINOMA INDIFERENCIADO DE CELULAS CLARAS', '8') #Reemplazamos CARCINOMA INDIFERENCIADO DE CELULAS CLARAS por ocho

In [65]:
df['BIOPSIA'] = df['BIOPSIA'].astype(float) #Transformo de str a float

Columna NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA

In [66]:
df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'].value_counts() #Verificamos que este todo en órden con los valores

NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA
NO    542
2       9
3       8
1       5
5       2
9       2
Name: count, dtype: int64

In [67]:
df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'] = df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [68]:
df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'] = df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'].replace('NO', '-1') #Ya que no existen valores con 0 cambio la variable NO por 0 dando a entender que si el valor es 0 quiere decir que no hay complicacion infecciosa

In [69]:
df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA']=df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'].astype(float) #Transformamos de str a float

In [70]:
df['NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA'].value_counts()

NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA
-1.0    542
 2.0      9
 3.0      8
 1.0      5
 5.0      2
 9.0      2
Name: count, dtype: int64

Columna Fiebre

In [71]:
df['FIEBRE'].value_counts() #Verificamos datos

FIEBRE
NO    531
SI     37
Name: count, dtype: int64

In [72]:
df['FIEBRE']  = df['FIEBRE'].replace('',np.nan) #Reemplazamos valores donde no hay nada por nulos

In [73]:
df['FIEBRE'] = df['FIEBRE'].replace('NO', '0') #Reemplazamos No por cero

In [74]:
df['FIEBRE'] = df['FIEBRE'].replace('SI', '1') #Reemplazamos Si por uno

In [75]:
df['FIEBRE'] = df['FIEBRE'].astype(float) #Transformamos de str a float

Columna ITU

In [76]:
df['ITU'].value_counts() #Verificamos datos

ITU
NO    562
SI      6
Name: count, dtype: int64

In [77]:
df['ITU']  = df['ITU'].replace('',np.nan) #Reemplazamos valores donde no hay nada por nulos

In [78]:
df['ITU'] = df['ITU'].replace('NO', '0') #Reemplazamos No por cero

In [79]:
df['ITU'] = df['ITU'].replace('SI', '1') #Reemplazamos Si por uno

In [80]:
df['ITU'] = df['ITU'].astype(float) #Transformamos de str a float

Columna Tipo de cultivo

In [81]:
df['TIPO DE CULTIVO'].value_counts()#Verificamos datos

TIPO DE CULTIVO
NO                          560
UROCULTIVO                    4
HEMOCULTIVO                   2
HEMOCULTIVO Y UROCULTIVO      2
Name: count, dtype: int64

In [82]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [83]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].replace('NO', '0') #Reemplazamos No por cero

In [84]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].replace('UROCULTIVO', '1') #Reemplazamos Si por uno

In [85]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].replace('HEMOCULTIVO', '2') #Reemplazamos EPOC por dos

In [86]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].replace('HEMOCULTIVO Y UROCULTIVO', '3') #Reemplazamos ASMA por tres

In [87]:
df['TIPO DE CULTIVO'] = df['TIPO DE CULTIVO'].astype(float) #Cambiamos su valor de str a flotante

Columna Agente aislado

In [88]:
df['AGENTE AISLADO'].value_counts()#Verificamos datos

AGENTE AISLADO
NO                        543
E.COLI                      6
PSEUDOMONAS AERUGINOSA      2
Name: count, dtype: int64

In [89]:
df['AGENTE AISLADO'] = df['AGENTE AISLADO'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [90]:
df['AGENTE AISLADO'] = df['AGENTE AISLADO'].replace('NO', '0') #Reemplazamos No por cero

In [91]:
df['AGENTE AISLADO'] = df['AGENTE AISLADO'].replace('E.COLI', '1') #Reemplazamos Si por uno

In [92]:
df['AGENTE AISLADO'] = df['AGENTE AISLADO'].replace('PSEUDOMONAS AERUGINOSA', '2') #Reemplazamos EPOC por dos

In [93]:
df['AGENTE AISLADO'] = df['AGENTE AISLADO'].astype(float) #Cambiamos su valor de str a flotante

Columna Patron de resistencia

In [94]:
df['PATRON DE RESISTENCIA'].value_counts() #Verificamos datos

PATRON DE RESISTENCIA
NO                                                                                 561
RESISTENTE A AMPI, CIPRO Y GENTA                                                     2
RESISTENTE A AMPI, SULFA, CEFADROXILO, CEFUROXIMO, CIPRO Y CEFEPIME, CEFOTAXIMA      2
MULTI SENSIBLE                                                                       2
 AMPI R, CIPRO R, GENTA R, SULFA M R                                                 1
Name: count, dtype: int64

In [95]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [96]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace('NO', '0') #Reemplazamos No por cero

In [97]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace('RESISTENTE A AMPI, CIPRO Y GENTA', '1') #Reemplazamos RESISTENTE A AMPI, CIPRO Y GENTA por uno

In [98]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace('RESISTENTE A AMPI, SULFA, CEFADROXILO, CEFUROXIMO, CIPRO Y CEFEPIME, CEFOTAXIMA', '2') #Reemplazamos RESISTENTE A AMPI, SULFA, CEFADROXILO, CEFUROXIMO, CIPRO Y CEFEPIME, CEFOTAXIMA por dos

In [99]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace('MULTI SENSIBLE', '3') #Reemplazamos MULTI SENSIBLE por tres

In [100]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].replace(' AMPI R, CIPRO R, GENTA R, SULFA M R', '4') #Reemplazamos  AMPI R, CIPRO R, GENTA R, SULFA M R por cuatro

In [101]:
df['PATRON DE RESISTENCIA'] = df['PATRON DE RESISTENCIA'].astype(float) #Cambiamos su valor de str a flotante

Columna HOSPITALIZACION

In [102]:
df['HOSPITALIZACION'].value_counts() #Verificamos datos

HOSPITALIZACION
NO    541
SI     24
Name: count, dtype: int64

In [103]:
df['HOSPITALIZACION'] = df['HOSPITALIZACION'].replace('', np.nan) #Reemplazamos valores donde no hay nada por nulos

In [104]:
df['HOSPITALIZACION'] = df['HOSPITALIZACION'].replace('NO', '0') #Reemplazamos No por cero

In [105]:
df['HOSPITALIZACION'] = df['HOSPITALIZACION'].replace('SI', '1') #Reemplazamos SI por uno

In [106]:
df['HOSPITALIZACION'] = df['HOSPITALIZACION'].astype(float) #Cambiamos su valor de str a flotante

In [107]:
df.head() #Comprobamos que todo este en numeros

,EDAD,DIABETES,HOSPITALIZACIÓN ULTIMO MES,PSA,BIOPSIAS PREVIAS,VOLUMEN PROSTATICO,ANTIBIOTICO UTILIAZADO EN LA PROFILAXIS,NUMERO DE MUESTRAS TOMADAS,CUP,ENF. CRONICA PULMONAR OBSTRUCTIVA,BIOPSIA,NUMERO DE DIAS POST BIOPSIA EN QUE SE PRESENTA LA COMPLICACIÓN INFECCIOSA,FIEBRE,ITU,TIPO DE CULTIVO,AGENTE AISLADO,PATRON DE RESISTENCIA,HOSPITALIZACION,DIAS HOSPITALIZACION MQ,DIAS HOSPITALIZACIÓN UPC
0,53.0,0.0,0.0,4.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0
1,56.0,0.0,0.0,7.7,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,0.0
2,57.0,0.0,0.0,29.0,1.0,1.0,0.0,24.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1.0,4.0,1.0,4.0,3.0
3,56.0,0.0,0.0,7.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,0.0
4,55.0,0.0,0.0,29.0,1.0,1.0,0.0,24.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0,4.0,3.0

In [108]:
df.to_csv('Datos_Listos.csv', index=False) #Guardamos en csv sacando el indice para que no quede guardado